@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: Manrope, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tokens-table td {
  vertical-align: middle;
}

.background-color-blue {
  background-color: #5f8afa;
}

.background-color-grey {
  background-color: #3f4246;
}

.background-color-black {
  background-color: #262626;
}

.background-color-white {
  background-color: white;
}

.color-white {
  color: white;
}

.padding-10-0 {
  padding: 10px 0;
}

.padding-20-40 {
  padding: 20px 40px;
}

.padding-20-20-0-0 {
  padding: 20px 20px 0 0;
}

.margin-40-0-0 {
  margin: 40px 0 0;
}

.spacer-25 {
  padding: 25px;
  min-width: 100%;
}

.flex {
  display: flex;
}

.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexBasis5 {
  flex-basis: 5%;
}

.flexBasis17 {
  flex-basis: 17%;
}

.flexBasis20 {
  flex-basis: 20%;
}

.flexBasis80 {
  flex-basis: 80%;
}

.flexBasis83 {
  flex-basis: 83%;
}

.fixedWrapper {
  height: 100vh;
  overflow: auto;
}

.screenHeight {
  height: 100vh;
}

.height100-percent {
  height: 100%;
}
